* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    list-style: none;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*:focus {
    outline: none;
}

.p-10 {
    padding: 0.625rem;
}

.ml-10 {
    margin-left: 0.625rem;
}

.ml-20 {
    margin-left: 1.25rem;
}

.mr-10 {
    margin-right: 0.625rem;
}

.mr-20 {
    margin-right: 1.25rem;
}

.w-50 {
    width: 3.125rem;
}

.h-50 {
    height: 3.125rem;
}

.br-100 {
    border-radius: 100%;
}

.background-blue-gray-50 {
    background-color: #f8fafc;
}

.text-gray-regular {
    color: #71717a;
}

.text-gray-darker {
    color: #3f3f46;
}

.font-size-regular {
    font-size: 1rem;
}

.font-size-medium {
    font-size: 1.25rem;
}

.font-light {
    font-weight: 300;
}

.font-regular {
    font-weight: 400;
}

.font-medium {
    font-weight: 600;
}

.font-bold {
    font-weight: 700;
}

.font-black {
    font-weight: 800;
}
