.container {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 90px;
    max-height: 90px;
    max-width: 500px;
}

.header {
    font-family: "Segoe UI", Helvetica, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.25rem;
    color: #3f3f46;
    font-weight: 600;
}

.left-elements {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
