.container {
    z-index: 10;
    background-color: white;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
}

.event-container {
    margin: 25px 0px;
    align-self: flex-start;
}

.button-container {
    width: 100%;
}

.button-large {
    background-color: #7582ff;
    border-radius: 8px;
    box-shadow: 0px 3px 5px rgba(117, 130, 255, 0.15);
    color: #fff;
    width: 100%;
    min-height: 45px;
    max-height: 45px;
    cursor: pointer;
    flex-grow: 2;
}

.button-large:active {
    background-color: #6d79e6;
}

.button-small {
    margin-top: 15px;
    background-color: #eaeaea;
    border-radius: 8px;
    color: #777783;
    width: 100%;
    min-height: 45px;
    max-height: 45px;
    cursor: pointer;
    flex-grow: 2;
}

.button-small:active {
    background-color: #e2e2e2;
}
